
body {
  background-color: lightcyan;
  background-image: unset;
}

h1 {
  color: black;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  width: 290px;
  margin: 0 auto;
}

img {
  width: 300px;
  height: 200px;
  border: 10px solid rgb(0, 128, 0);
  color: white;
  border-radius: 20px;
  vertical-align: top;
}

figcaption {
  width: 200px;
  text-align: left;
  margin-left: 25px;
  color: black;
  font-style: italic;
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.7);
}

.text-background {
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.7); /* white with 70% opacity */
  padding: 10px; /* add some space around di text */
  border-radius: 5px; /* mek di corners round */
}
